ul.pagination {
  display: flex;
  padding: 0;
  margin: 16px 0;
  justify-content: center;
}

ul.pagination li {
  display: inline;
  justify-content: center;
}

ul.pagination li a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul.pagination li a.active {
  background-color: hsl(193, 78%, 49%);
  color: hsl(48, 100%, 51%);

  border: 2px solid white;
  border-radius: 11px;
  margin-left: 3px;
  margin-right: 3px;
  /* box-shadow: -2px 1px 4px black; */
}

ul.pagination li a.active:hover {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: -2px 1px 4px white;
}
